nav,
footer {
  width: 100%;
  background-color: #01012f;
  padding: 15px 0;
}

.nav-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.nav-parent p {
  color: #fff;
  padding: 0;
  margin: 0;
}
.main {
  height: 600px;
  width: 100%;
  background-image: url("../images/main.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
}

/* .main .img{
    position: absolute;
    background-image: url('../images/main.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    width: 100%;
    height: 100%;
} */

.main h1 {
  font-size: 60px;
}

.main p {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  background-color: #72c4fc;
}

.main small {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  text-align: center;

  /* oq 100% */

  color: #ffffff;
}

.main12{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 60px 0;
}

.main-parent {
  width: 600px;
  text-align: center;
}

.main-parent .main-img,
.main-parent .main-img img {
  width: 100%;
}

.cameras {
  background-color: #F0F2F5;
  padding: 30px 0;
}

.cameras .card {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.cameras .card:hover {
  box-shadow: 0px 5px 12px rgba(0, 54, 244, 0.2);
}

.cameras .card p {
  margin-top: 15px;
  font-weight: 500;
}

.cameras h1 {
  color: #72c4fc;
}

.cameras .img-camera {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.cameras img {
  width: 100%;
}

.camera-iframe h2 {
  text-align: center;
  margin: 60px 0 20px 0;
}

.camera-iframe h2 span {
  color: #0808a4;
}

.camera-arm {
  background-color: #fff;
  box-shadow: 0px 5px 12px rgba(0, 54, 244, 0.2);
  padding: 20px;
  border-radius: 15px;
}

.iframe {
  width: 100%;
  height: 600px;
  position: relative;
  margin: 0 auto;
}

.iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

footer h4 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 25px;
  margin-top: 15px;
}

footer .icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  color: #fff;
}

footer .icons p {
  margin: 0;
}

footer .icons i,
footer .sahifalar i {
  background-color: #14b5e3;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

footer .sahifalar {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

footer .sahifalar a {
  color: #fff;
}

@media (max-width: 768px) {

  .main p {
    font-size: 30px;
    line-height: 36px;
  }

  .main small{
    font-size: 16px;
  }

  .main-parent {
    width: 100%;
  }
}
